

/* @media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(165, 211, 60, 0.25)
}

.btn.disabled,
.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
} */

.btn-primary {
    color: #212529;
    background-color: #a5d33c;
    border-color: #a5d33c
}

.btn-primary:hover {
    color: #212529;
    background-color: #91be2b;
    border-color: #89b329
}

/* .btn-primary:focus,
.btn-primary.focus {
    color: #212529;
    background-color: #91be2b;
    border-color: #89b329;
    box-shadow: 0 0 0 .2rem rgba(145, 185, 57, 0.5)
} */
