
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="mainbox">
    <div class="err">4</div>
    <div class="fa fa-question-circle fa-5x fa-spin"></div>
    <div class="err2">4</div>
    <div class="msg">This page is not available 
    </div>
    <div class="msg2">
    <p>The link you are following may be broken or the page may have been removed.</p>
    </div>
    <div class="image">
     <img src="assets/images/chatbot2.png"  width = "400" height = "400">
    </div>
    <div class="home">
    <p>Go to <a href="#welcome">home</a> page </p>
  </div>


  
